{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/x-icon" href="{% static 'img/Logo-ITMorelia-FAVICON.png' %}">
    <title>Profesores | Repositorio Tec</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
    {% block links %}
    {%endblock%}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex flex-column align-items-center justify-content-center my-5 py-5" >
                <div class="sidebar-brand-icon">
                    <img class="logo mb-1" src="{% static 'img/Logo-ITMorelia.png' %}" alt="" width="150px">
                </div>
                <div class="sidebar-brand-text mx-3">REPOSITORIO TEC</div>
            </a>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Dashboard
            </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item {{ activo_general }}">
                <a class="nav-link" href="{% url 'dashboard' %}" aria-expanded="true">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>General</span>
                </a>
            </li>
            {% if request.user.rol == "profesor" %}
           
            <li class="nav-item {{ activo_contenido }}">
                <a class="nav-link " href="{% url 'dashboardContenido' %}" aria-expanded="true">
                    <i class="fas fa-fw fa-book"></i> 
                    <span>Mi contenido</span>
                </a>
            </li>
            {% endif %}

            {% if request.user.rol == "admin" %}
            <li class="nav-item {{ activo_profesores }}">
                <a class="nav-link " href="{% url 'dashboardProfesores' %}" aria-expanded="true">
                    <i class="fas fa-fw fa-graduation-cap"></i>
                    <span>Profesores</span>
                </a>
            </li>

            <li class="nav-item {{ activo_Objeto }}">
                <a class="nav-link " href="{% url 'dashboardAjustes' %}" aria-expanded="true">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Ajustes</span>
                </a>
            </li>

            {% endif %}

            <li class="nav-item">
                <a class="nav-link " href="{% url 'home' %}" aria-expanded="true">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Repositorio</span>
                </a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h3 class="h4 md-h3 mb-0 text-gray-800">Hola, <span style="text-transform: capitalize;">{{nombre_usuario}}</span>!</h3>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Buscar Objeto de Estudio..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- INICIO: Centro de notificaciones -->
                        <!-- Nav Item - Alerts -->
                        <!-- 
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Ver más</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Mensajes
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Leer más mensajes</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                    -->
                        <!-- FIN: Centro de notificaciones -->
                        
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small text-capitalize">{{nombre_usuario}}</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/Logo-ITMorelia.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#modal_InfoPerfil">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Editar  Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- MODAL Perfil Info -->
                <div class="modal fade" id="modal_InfoPerfil" tabindex="-1" role="dialog" aria-labelledby="modal_InfoPerfil"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="modal_InfoPerfilLabel">{{user.username}}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                            <div class="modal-body text-gray-800">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="editPerfil_Foto">Foto de Perfil</label>
                                            <input type="file" class="form-control" id="editPerfil_Foto" name="editPerfil_Foto">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="editPerfil_Nombre">Nombre</label>
                                            <input type="text" class="form-control" id="editPerfil_Nombre" name="editPerfil_Nombre" value="{{user.nombres}}" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="editPerfil_Apellidos">Apellidos</label>
                                            <input type="text" class="form-control" id="editPerfil_Apellidos" name="editPerfil_Apellidos" value="{{user.apellidos}}" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="editPerfil_Correo">Correo</label>
                                            <input type="email" class="form-control" id="editPerfil_Correo" name="editPerfil_Correo" value="{{user.email}}" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="editPerfil_Telefono">Teléfono</label>
                                            <input type="text" class="form-control" id="editPerfil_Telefono" name="editPerfil_Telefono" value="{{user.telefono}}" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="editPerfil_RFC">RFC</label>
                                            <input type="text" class="form-control" id="editPerfil_RFC" name="editPerfil_RFC" value="{{user.rfc}}" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="editPerfil_Institucion">Institución</label>
                                            <input type="text" class="form-control" id="editPerfil_Institucion" name="editPerfil_Institucion" value="{{user.institucion}}" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="editPerfil_Departamento">Departamento</label>
                                            <select class="form-control" id="editPerfil_Departamento" name="editPerfil_Departamento">
                                              {% for d in departamentos %}  
                                              {% if user.departamento == d.nombre %}
                                              <option value="{{d.nombre}}" selected>{{d.nombre}}</option>
                                              {% else %}
                                              <option value="{{d.nombre}}">{{d.nombre}}</option>
                                              {% endif %}
                                              {% endfor %}
                                            </select>
                                        </div>
                                        <hr>
                                        <div class="form-group col-md-12">
                                            <label for="editPerfil_Contrseña">Contraseña</label>
                                            <input type="password" class="form-control" id="editPerfil_Contrseña" name="editPerfil_Contrseña" placeholder="Solo si la deseas modificar">
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" type="button" data-dismiss="modal">
                                    <i class="fas fa-ban "></i>
                                    Cancelar
                                </button>
                                    <button type="submit" class="btn btn-success" name="edit-usuario" value="{{user.username}}">
                                        <i class="fas fa-check mr-2"></i>
                                        Actualizar
                                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block Dashboard_General%}

                    {%endblock%}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span style="color: var(--dark-blue);">Copyright &copy; TecNMorelia 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="logoutModal">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-gray-800">¿Está seguro de cerrar la sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> 
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
    
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> 


    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script> 


    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> 


    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script> 
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> 
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
    {% block scripts %}
    {%endblock%}


</body>

</html>