{% extends "dashboardBase.html" %}
{% load static %}

{% block links %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block Dashboard_General%}
<!-- Page Heading -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Configuración de Objetos</h1>
        </div>
    </div>
</div>


<div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ajustes de Objetos de Estudio</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body d-flex">
                <div class="card shadow">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Idiomas</h6>
                    <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#addIdiomaModal">
                      <i class="fas fa-fw fa-plus"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <!-- INICIO FOR -->
                    <span class="text-primary">#Idiomas#</span>
                    <button type="button" class="btn btn-outline-danger ml-5" data-toggle="modal" data-target="#deleteIdiomaModal">
                      <i class="fas fa-fw fa-trash"></i>
                    </button>
                    <!-- FIN FOR  -->
                  </div>
                </div>
        </div>
    </div>
</div>

<!-- Modal Add Idioma-->
<div class="modal fade" id="addIdiomaModal" tabindex="-1" role="dialog" aria-labelledby="addIdiomaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary id="addIdiomaModalLabel">Nuevo Idioma</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <input type="text" class="form-control" id="nuevoIdioma" placeholder="Ingrese un idioma" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Agregar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Delete Idioma-->
<div class="modal fade" id="deleteIdiomaModal" tabindex="-1" role="dialog" aria-labelledby="deleteIdiomaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary id="deleteIdiomaModalLabel">Eliminar Idioma</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-primary">¿Está seguro de eliminar el idioma <strong>#Idioma#?</strong> </h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-secondary">Eliminar</button>
      </div>
    </div>
  </div>
</div>


{%endblock%}
