{% extends "dashboardBase.html" %}
{% load i18n %}
{% load static %}

{% block links %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block Dashboard_General%}
                    <!-- Page Heading -->
                    <div class="container">
                        {% for message in messages %}
                            {% if exito %}
                            <div class="alert alert-success">
                                <a class="close" href="#" data-dismiss="alert">×</a>
                                    {{ message }}
                            </div>
                            {% else %}
                            <div class="alert alert-danger">
                                <a class="close" href="#" data-dismiss="alert">×</a>
                                    {{ message }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-12 col-md-8 d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">{%trans 'Administración de Profesores'%}</h1>
                            </div>
                            
                            <div class="col-12 col-md-4 px-0">
                              <button type="button" class="btn btn-info w-100" data-toggle="modal" data-target="#nuevoProfesorModal">
                                  <i class="fas fa-fw fa-plus"></i>
                                  {%trans 'Nuevo Profesor'%}
                              </button>
                          </div>
                        </div>
                    </div>
                    

                    <!-- Content Row -->

                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{%trans 'Todos los Profesores'%}</h6>
                                    
                                    <div class="d-flex col-4 px-0 align-items-center">
                                        <i class="fas fa-search text-primary mr-2" style="font-size: 1rem;"></i>
                                        <input type="text" id="buscador_Obj" class="form-control" placeholder="{%trans 'Buscar profesor'%}...">
                              
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table class="table table-striped table-hover text-gray-800" id="tabla_Obj">
                                        <thead>
                                          <tr>
                                            <th scope="col">{%trans 'Nombre'%}</th>
                                            <th scope="col">{%trans 'Usuario'%}</th>
                                            <th scope="col">{%trans 'Departamento'%}</th>
                                            <th scope="col">{%trans 'Objetos'%}</th>
                                            <th scope="col">{%trans 'Información'%}</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <!-- INICIO FOR -->
                                            {% for p in profesores%}
                                          <tr>
                                            <td>{{p.nombres}} {{p.apellidos}}</td>
                                            <td>{{p.username}}</td>
                                            <td>{{p.departamento}}</td>
                                            <td><button type="button" class="btn btn-secondary" style="pointer-events: none;">{{p.nobjetos}}</button></td>

                                            <td>
                                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_Info_Profe">
                                                    <i class="fas fa-info-circle mr-2"></i>{%trans 'Ver Detalles'%}</button>

                                                
                                            </td>
                                                <!-- Modal Info Objeto  -->
                                                <div class="modal fade" id="modal_Info_Profe" tabindex="-1" role="dialog" aria-labelledby="modal_Info_ProfeLabel" aria-hidden="true">
                                                <div class="modal-dialog text-gray-800" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="modal_Info_ProfeLabel">{{p.username}}</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="list-group d-flex">
                                                            <div class="list-group-item list-group-item-action flex-column align-items-start" style="pointer-events: none;">
                                                                <h5 class="mb-1"><strong>{%trans 'Nombre completo'%}</strong></h5>
                                                                <p class="mb-1">{{p.nombres}} {{p.apellidos}}</p>
                                                            </div>
                                                            <div class="d-flex flex-row">
                                                                <div class="list-group-item list-group-item-action flex-column align-items-start" style="pointer-events: none;">
                                                                    <h5 class="mb-1"><strong>{%trans 'Teléfono'%}</strong></h5>
                                                                    <p class="mb-1">{{p.telefono}}</p>
                                                                </div>
                                                                <div class="list-group-item list-group-item-action flex-column align-items-start" style="pointer-events: none;">
                                                                    <h5 class="mb-1"><strong>{%trans 'Correo'%}</strong></h5>
                                                                    <p class="mb-1">{{p.email}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-row">
                                                                <div class="list-group-item list-group-item-action flex-column align-items-start" style="pointer-events: none;">
                                                                    <h5 class="mb-1"><strong>{%trans 'Institución'%}</strong></h5>
                                                                    <p class="mb-1">{{p.institucion}}</p>
                                                                </div>
                                                                <div class="list-group-item list-group-item-action flex-column align-items-start" style="pointer-events: none;">
                                                                    <h5 class="mb-1"><strong>RFC</strong></h5>
                                                                    <p class="mb-1">{{p.rfc}}</p>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <form>
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-danger" type="submit">
                                                        <i class="fas fa-trash mr-2"></i>{%trans 'Eliminar Profesor'%}</button>
                                                    </form>
                                                      <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                        <i class="fas fa-check mr-2"></i>{%trans 'Finalizar'%}</button>
                                                    </div>
                                                  </div>
                                                </div>
                                                </div>
                                          </tr>
                                          {% endfor %}
                                          <!-- FIN FOR -->
                                          
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>

                                    <!-- Nuevo Profesor Modal -->
                <div class="modal fade" id="nuevoProfesorModal" tabindex="-1" role="dialog" aria-labelledby="nuevoProfesorModal"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="nuevoProfesorModal">{%trans 'Registrar Nuevo Profesor'%}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                            <div class="modal-body text-gray-800">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="nvprof_Username">Username</label>
                                            <input type="text" class="form-control" id="nvprof_Username" name="nvprof_Username" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="nvprof_Nombre">{%trans 'Nombre'%}</label>
                                            <input type="text" class="form-control" id="nvprof_Nombre" name="nvprof_Nombre" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="nvprof_Apellidos">{%trans 'Apellidos'%}</label>
                                            <input type="text" class="form-control" id="nvprof_Apellidos" name="nvprof_Apellidos" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="nvprof_Correo">{%trans 'Correo'%}</label>
                                            <input type="email" class="form-control" id="nvprof_Correo" name="nvprof_Correo" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="nvprof_Telefono">{%trans 'Teléfono'%}</label>
                                            <input type="number" class="form-control" id="nvprof_Telefono" name="nvprof_Telefono" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="nvprof_RFC">RFC</label>
                                            <input type="text" class="form-control" id="nvprof_RFC" name="nvprof_RFC" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="nvprof_Institucion">{%trans 'Institución'%}</label>
                                            <input type="text" class="form-control" id="nvprof_Institucion" name="nvprof_Institucion" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="nvprof_Departamento">{%trans 'Departamento'%}</label>
                                            <select class="form-control" id="nvprof_Departamento" name="nvprof_Departamento">
                                                {% for d in departamentos %}
                                                <option value="{{d.nombre}}">{{d.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <hr>
                                        <div class="form-group col-md-12">
                                            <label for="nvprof_Contrseña">{%trans 'Contraseña'%}</label>
                                            <input type="text" class="form-control" id="nvprof_Contrseña" name="nvprof_Contrseña" required>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" type="button" data-dismiss="modal">
                                    <i class="fas fa-ban "></i>
                                    {%trans 'Cancelar'%}
                                </button>
                                <button type="submit" class="btn btn-success" name="addprofesor" value="addprofesor">
                                    <i class="fas fa-check mr-2"></i>
                                    {%trans 'Agregar'%}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{%endblock%}


{% block scripts %}

<script>
    $(document).ready(function(){
      $("#buscador_Obj").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tabla_Obj tbody").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{%endblock%}