{% extends "dashboardBase.html" %}
{% load i18n %}
{% load static %}

{% block links %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block Dashboard_General%}
<!-- Page Heading -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{%trans 'Ajustes Generales'%}</h1>
        </div>
    </div>
</div>


<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4 ">
            <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{%trans 'Ajustes de Objetos de Estudio'%}</h6>
        </div>
        <div class="d-flex flex-row">
          <!-- CARD AREAS -->
          <div class="card-body d-flex justify-content-center h-100">
            <div class="card shadow">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{%trans 'Áreas'%}</h6>
                  <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#addAjusteModal" onclick="modal_AddContent('area')">
                    <i class="fas fa-fw fa-plus"></i>
                  </button>
              </div>
              <div class="card-body">
                <!-- INICIO FOR -->
                {% for a in areas %}
                <div class="container">
                  <div class="row my-1 justify-content-md-center">
                    <div class="col-8">
                      <span class="text-primary">{{a.nombre}}</span>
                    </div>
                    <div class="col-4">
                      <button type="submit" class="btn btn-outline-danger ml-5" data-toggle="modal" data-target="#deleteIdiomaModal" onclick="modal_DeleteContent('area', '{{a.idarea}}', '{{a.nombre}}')">
                        <i class="fas fa-fw fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- FIN FOR  -->
              </div>
            </div>
          </div>

          <!-- CARD DEPARTAMENTOS -->
          <div class="card-body d-flex justify-content-center h-100">
            <div class="card shadow">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{%trans 'Departamentos'%}</h6>
                <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#addAjusteModal" onclick="modal_AddContent('departamento')">
                  <i class="fas fa-fw fa-plus"></i>
                </button>
              </div>
              <div class="card-body">
                <!-- INICIO FOR -->
                {% for d in departamentos %}
                <div class="container">
                  <div class="row my-1 justify-content-md-center">
                    <div class="col-8">
                      <span class="text-primary">{{d.nombre}}</span>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-outline-danger ml-5" data-toggle="modal" data-target="#deleteIdiomaModal" onclick="modal_DeleteContent('departamento', '{{d.iddepartamento}}', '{{d.nombre}}')">
                        <i class="fas fa-fw fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
                
                
                {% endfor %}
                <!-- FIN FOR  -->
              </div>
            </div>
          </div>
        </div>
            
    </div>
</div>


<!-- Modal Add Idioma-->
<div class="modal fade" id="addAjusteModal" tabindex="-1" role="dialog" aria-labelledby="addAjusteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="addAjusteModalLabel">#{%trans 'Nuevo Elemento'%}#</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="" >
        {% csrf_token %}
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-group" id="addAjusteModalInput">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{%trans 'Cancelar'%}</button>
          <div id="addAjusteModalForm">
            <!-- Contenido JS -->
          </div>
      </div>
    </form>
    </div>
  </div>
</div>


<!-- Modal Delete Idioma-->
<div class="modal fade" id="deleteIdiomaModal" tabindex="-1" role="dialog" aria-labelledby="deleteIdiomaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="deleteIdiomaModalLabel">#{%trans 'Eliminar Idioma'%}#</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-primary" id="deleteIdiomaModalMessage">#{%trans 'Message'%}#</h6>
      </div>
      <form method="POST" action=""> {% csrf_token %}
        <div class="form-group" id="deleteIdiomaModalInput"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{%trans 'Cancelar'%}</button> 
          <div id="deleteIdiomaModalForm">
            <!-- Contenido JS -->
          </div>
      </div>
    </form>
    </div>
  </div>
</div>


{%endblock%}

{% block scripts %}
<script>
  const modal_AddContent = (Elemento) =>{
    const titulo = document.getElementById('addAjusteModalLabel')
    const input = document.getElementById('addAjusteModalInput')
    const form = document.getElementById('addAjusteModalForm')
    
    titulo.innerText = "{%trans 'Agregar'%} " + Elemento
    input.innerHTML = '<input type="text" class="form-control" name="nuevo_'+Elemento+'" id="nuevo_'+Elemento+'" placeholder="{%trans "Ingrese"%} '+ Elemento + '" required>'
    form.innerHTML = '<button type="sumbit" class="btn btn-success" name="agregar" value="'+Elemento+'">{%trans "Agregar"%}</button>'

  }

  const modal_DeleteContent = (Elemento, id, nombre) =>{
  const titulo = document.getElementById('deleteIdiomaModalLabel')
  const message = document.getElementById('deleteIdiomaModalMessage')
  const form = document.getElementById('deleteIdiomaModalForm')
  const input = document.getElementById('deleteIdiomaModalInput')

  titulo.innerText = "{%trans 'Eliminar'%} " + Elemento 
  message.innerHTML = "{%trans '¿Está seguro de eliminar el'%} "+Elemento+" <strong>"+ nombre+"?</strong>"
  input.innerHTML = '<input type="text" class="form-control" name="tipo" value="'+ Elemento + '" hidden>'
  form.innerHTML = '<button type="sumbit" name="eliminar" value="'+id+'" class="btn btn-secondary">{%trans "Eliminar"%}</button>'
  }


</script>
{%endblock%}




