{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Logo-ITMorelia-FAVICON.png' %}">
    <title>{%trans 'Repositorio TecNM | DEPI'%}</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex flex-column align-items-center justify-content-center my-5 py-5">
                <div class="sidebar-brand-icon">
                    <img class="logo mb-1" src="{% static 'img/Logo-ITMorelia.png' %}" alt="" width="150px">
                </div>
                <div class="sidebar-brand-text mx-3">{%trans 'REPOSITORIO TEC'%}</div>
            </a>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {%trans 'Areas'%}
            </div>

            <!-- Nav Item - Areas -->
            {% for a in areas %}
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <li class="nav-item" >
                <button style="background-color: transparent; border: none;" class="nav-link" type="submit" name="area" id="area" value="{{a.nombre}}">
                    <i class="fas fa-book mr-2"></i>
                    <span class="">{{a.nombre}}</span>
                </button>
            </li>
            </form>
            {% endfor %}
            
<!-- 
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Desarrollo Agíl de Software</span>
                </a>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Temas:</h6>
                        <a class="collapse-item" href="#">Tema 1</a>
                        <a class="collapse-item" href="#">Tema 2</a>
                        <a class="collapse-item" href="#">Tema 3</a>
                    </div>
                </div>
            </li>
 -->

            

            <!-- Nav Item - Profesores -->
            {% if profesor %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {%trans 'Administrativos'%}
            </div>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>{%trans 'Dashboard'%}</span></a>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="d-flex flex-wrap">
                        <!-- Topbar Search -->
                        <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" id="buscador_Obj_Gen" class="form-control bg-light border-0 small" placeholder="{%trans 'Buscar Objeto de Estudio'%}..."
                                    aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
    
                        <!-- Traducciones -->
                        <form method="post" action="{% url 'change_language' %}">
                            {% csrf_token %}
                            <button type="submit" value="en" name="language" class="bg-transparent border-0"> <img src="../static/img/estados-unidos.png" alt="en" height="25" width="25"> </button>
                        </form>
    
                        <form method="post" action="{% url 'change_language' %}">
                            {% csrf_token %}
                            <button type="submit" value="es" name="language" class="bg-transparent border-0"> <img src="../static/img/mexico.png" alt="es" height="25" width="25"> </button>
                        </form>

                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="{%trans 'Buscar Objeto de Estudio'%}..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nombre_usuario}} {{apellidos_usuario}}</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/Logo-ITMorelia.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {%trans 'Salir'%}
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                
                <div class="container-fluid"> <!-- Begin Page Content -->

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{%trans 'Objetos de Aprendizaje'%}</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row" id="objeto_Card">
                        <!-- INICIO FOR-->
                        {% for o in objetos %}
                        <form id="objeto_Card_ind" action="" method="POST" enctype="multipart/form-data" class="col-xxl-4 col-xl-6 col-md-6 mb-4"> {% csrf_token %}
                        <article> <!-- Begin Card --> 
                            <div class="card shadow h-100 py-2">
                                {% for a in areasxobjetos %}
                                {% if a.idobjeto|stringformat:'s' == o.idobjeto|stringformat:'s' %}
                                    {% if a.nombre == 'Ciencias Físico Matemáticas' %}
                                        <img src="{% static 'img/Card_Img1.png' %}"
                                        class="card-img-top p-4" style="border-radius: 40px;" alt="...">
                                    {% elif a.nombre == 'Educación' %}
                                        <img src="{% static 'img/Card_Img2.png' %}"
                                        class="card-img-top p-4" style="border-radius: 40px;" alt="...">
                                    {% elif a.nombre == 'Ingenierías' %}
                                        <img src="{% static 'img/Card_Img3.png' %}"
                                        class="card-img-top p-4" style="border-radius: 40px;" alt="...">
                                    {% else %}
                                        <img src="{% static 'img/Card_Img4.png' %}"
                                        class="card-img-top p-4" style="border-radius: 40px;" alt="...">
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h2 font-weight-bold text-primary mb-1 text-center">
                                                {{o.nombre}}</div>
                                            <div class="row my-3">
                                                <div class="col" >
                                                    {% for u in usuarios %}
                                                    {% if u.username|stringformat:'s' == o.autor_principal|stringformat:'s' %}
                                                    <div class="d-flex align-items-center">
                                                        <img class="rounded-circle" src="../media/{{u.imagen}}" alt="..." width="50px" height="50px"> <!-- Profile Photo -->
                                                        <div class="ml-3">
                                                            <h6 class="mb-0 font-weight-bold text-gray-800">{{u.nombres}} {{u.apellidos}}</h6>
                                                            <p class="text-xs mb-0 font-weight-bold text-gray-800">{{o.fecha}}</p>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="col-4 text-center">
                                                    <h6 class="h6 mb-0 font-weight-bold text-gray-800">Area</h6>
                                                    <!-- INICIO FOR AREAS -->
                                                    {% for a in areasxobjetos %}
                                                    {% if a.idobjeto|stringformat:'s' == o.idobjeto|stringformat:'s' %}
                                                    <p class="text-xs mb-0 font-weight-bold text-gray-800">{{a.nombre}}</p>
                                                    <!-- FIN FOR AREAS -->
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 text-center">
                                            <button class="btn btn-secondary text-uppercase" type="submit" name="detalles" value="{{o.idobjeto}}">{%trans 'Ver más detalles'%}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- End Card -->
                        </form>
                        {% endfor %}
                        <!-- FIN FOR-->
                    </div>
                </div> <!-- End Page Content -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span style="color: var(--dark-blue);">Copyright &copy; TecNMorelia 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="logoutModal">{%trans 'Cerrar sesión'%}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-gray-800">{%trans '¿Está seguro de cerrar la sesión?'%}</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">{%trans 'Cancelar'%}</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">{%trans 'Cerrar sesión'%}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> 
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
    
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> 


    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script> 


    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> 


    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script> 
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> 

<script>
    $(document).ready(function(){
      $("#buscador_Obj_Gen").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#objeto_Card #objeto_Card_ind").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
 
</body>

</html>