{% extends "objeto_base.html" %}
{% load static %}

        {% block metadata %}
            <meta name="author" content="#NOMBRE COMPLETO DEL AUTOR#, #CORREO#">
            <meta name="description" content="#DESCRIPCIÓN#">
            <meta name="keywords" content="#AREAS# (separadas por comas)">
            <meta name="date" content="#FECHA# (Formato: DD/MM/AAAA)">

        {%endblock%}

{% block title %}{{consulta.nombre}} | {{consulta.autor_principal}}{%endblock%}
{% block css %}
    <style>
:root {
	--u: 1.5vmin;
	--clr: #777;
	--bg: #444857;
}

.liked_button {
	position: relative;
    width: calc(var(--u) * 10);
    height: calc(var(--u) * 10);
}

#liked_input { display: none; }	

.liked_label {
    background: var(--bg);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: calc(var(--u) * 1.5);
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liked_label span {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: dislike 0.5s ease 0s;
}
.liked_label span:before {
    content: "";
    position: absolute;
    border-radius: 0.25vmin;
    border: 3.6vmin solid #fff0;
    border-top: 4vmin solid var(--clr);
    margin-top: 7.65vmin;
    margin-left: 4vmin;
}

.liked_label span:after {
    content: "";
    position: absolute;
    background: var(--clr);
    width: 5vmin;
    height: 5vmin;
    border-radius: 100%;
    margin-left: 3.35vmin;
    margin-top: 3.5vmin;
    box-shadow: 3.5vmin 0 0 0 var(--clr);
}

#liked_input:checked + .liked_label span {
	--clr: #ff3c41; 
	animation: like 0.5s ease 0s;
}


@keyframes like {
	75% { transform: scale(1.25); }
}
@keyframes dislike {
	75% { transform: scale(0.75); }
}






.liked_button:hover .liked_label span:before, .liked_button:hover .liked_label span:after {
    --clr: #9d4958;
}

.liked_button:hover #liked_input:checked + .liked_label span:before, .liked_button:hover #liked_input:checked + .liked_label span:after {
    --clr: #ff3c41; 
}
    </style>
{%endblock%}

{%block objeto_contenido%}
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">{{consulta.nombre}}</h1>
            </div>
<div class="card">
    <div class="card-body d-flex justify-content-center">
        <div class="container m-0 p-0 text-gray-900">
            <!-- Content Row -->
            <div class="row" >
                <div class="col-12 col-md-8">
                    <label><strong>Descipción</strong></label>
                    <p>{{consulta.descripcion}}</p>
                    {% if consulta.descripcion_otro %}
                    <label><strong>Resume</strong></label>
                    <p>{{consulta.descripcion_otro}}</p>
                    {% endif %}
                    <hr>
                    <div class="d-flex flex-row justify-content-between">
                        {% for u in usuarios %}
                        {% if u.username|stringformat:'s' == consulta.autor_principal|stringformat:'s' %}
                        <div>
                            <label><strong>Autor</strong></label>
                            <p>{{u.nombres}} {{u.apellidos}}</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div>
                            <label><strong>Fecha</strong></label>
                            <p>{{consulta.fecha}}</p>
                        </div>
                        <div>
                            <label><strong>Areas</strong></label>
                            {% for a in areas %}
                            <p>{{a.nombre}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% if consulta.coautores %}
                    <div>
                        <label><strong>Coautores</strong></label>
                            <p>{{consulta.coautores}}</p>
                    </div>
                    {% endif %}
                    <hr>
                    <div class="d-flex flex-row justify-content-around">
                        <div>
                            <label><strong>Calificación Actual</strong></label>
                            {%if consulta.calificacionfinal == none%}
                            <p>--/10</p>
                            {%else%}
                            <p>{{consulta.calificacionfinal}}/10</p>
                            {%endif%}
                            
                        </div>
                        <div>
                            <label><strong>Total de descargas</strong></label>
                            {%if consulta.descargas == none%}
                            <p>0</p>
                            {%else%}
                            <p>{{consulta.descargas}}</p>
                            {%endif%}
                            
                        </div>
                    </div>
                
                </div>
                <form action="" method="POST" class="col-12 col-md-4 h-full">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center py-2 p-md-5 m-0 h-100">   
                        <button name="desc" value="{{consulta.idobjeto}}" type="submit" class="align-self-center btn btn-primary btn-lg w-100"   onclick="window.open('/media/{{consulta.archivo}}')" download>Descargar</button>                       
                    </div>
                </form>
            </div>

            <br>
            <!-- 
            <div class="row">
                <div class="col-12">
                    <label><strong>Calificar Contenido</strong></label>
                </div>
                <div class="col-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reaction" id="like" value="1">
                        <i class="fas fa-thumbs-up mx-2"></i>
                        <label class="form-check-label" for="inlineRadio1">Like</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reaction" id="love" value="2">
                        <i class="fas fa-heart mx-2"></i>
                        <label class="form-check-label" for="inlineRadio2">Love It</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reaction" id="dislike" value="3">
                        <i class="fas fa-thumbs-down mx-2"></i>
                        <label class="form-check-label" for="inlineRadio3">Dislike</label>
                      </div>
                </div>
            </div>
             -->
        </div>
    </div>
    

</div>
            
        </div> <!-- End Page Content -->
{%endblock%}
